#content .outer .inner .card {
  flex-wrap: wrap;
  flex: initial;
}

/*modal*/
.modal-dialog.modal-80size {
  max-width: 80%!important;
  max-height: 80%;
  margin: 0;
  padding: 0;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 0%;
  vertical-align: middle;
  margin-right: -4px;
  /* Adjusts for spacing */
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

#storyModal_table tr td {
    vertical-align: middle;
}

.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100000;
  backface-visibility: visible;
  background: #ffffff;
}

.preloader_img {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 48%;
  top: 48%;
  background-position: center;
  z-index: 999999;
}
