<div class="card">
<div class="card-header">
<!-- <div class="col-lg-2">채널정보</div> -->
<div class="col-lg-12" align="left" style="padding: 0;">
<div class="col-md-4" style="padding: 0;">
<span>
<img class="card-img-top" src="http://placehold.it/100x100" id="photo" style="width:100px;height:100px;" onerror="this.src='/public/img/loader.gif'" alt="Shop Image">
</span>
</div>
<div class="col-md-4">
<!-- <select class="" name="" style="font-size: 12px; width: 100%; text-align-last:center;">
<option value="">사 유</option>
</select> -->
<input type="checkbox" data-toggle="toggle" id="isPaid" data-on="유료" data-off="무료" data-onstyle="primary" data-offstyle="secondary"><input type="hidden" id="isPaid_v">
<!-- <span id="txtEnabled"></span> --><input type="hidden" id="txtEnabled">
</div>
<div class="col-md-4" style="padding: 0;">
<button type="button" id="btnEnabled" class="btn btn-warning" style="font-size: 12px;width: 100%;" value="">계정중지/해제</button>
<button type="button" id="del" class="btn btn-warning" style="font-size: 12px;width: 100%; margin-top: 5px;">삭제</button>
</div>
        </div>
    </div>
    <div class="card-block">
        <div class="table-responsive m-t-5" style="height:700px;">
            <table id="search_store" class="table table-striped table-bordered">
<colgroup>
<col width="30%">
<col width="70%">
</colgroup>
                <tbody id="datas1">
<tr>
                    <td>매장명</td>
                    <td id="shopname" class="b"></td>
                </tr>
<tr>
                    <td>_id</td>
                    <td id="oid"></td>
                </tr>
                <tr>
                    <td>가입일</td>
                    <td id="regDt"></td>
                </tr>
                <tr>
                    <td>매장종류</td>
                    <td id="cat"></td>
                </tr>
<tr>
                    <td>매장주소</td>
                    <td id="addr"></td>
                </tr>
<tr>
                    <td>결제상품</td>
                    <td id="payPrd"></td>
                </tr>
<tr>
                    <td>결제기간</td>
                    <td id="payDt"></td>
                </tr>
<tr>
                    <td>디바이스정보</td>
                    <td id="devInfo"></td>
                </tr>
<tr>
                    <td>연락처</td>
                    <td id="phone"></td>
                </tr>
<tr>
                    <td>사업자등록증</td>
                    <td>
<button type="button" id="btnBiz" name="button" class="btn btn-warning" data-toggle="modal" data-target="#businessModal"  style="text-align: center;">보 기</button>
<input type="hidden" id="bizCert">
</td>
                </tr>
<tr>
                    <td>신청사연</td>
                    <td>
<button type="button" id="btnStory" name="button" class="btn btn-warning" data-toggle="modal" data-target="#storyModal" style="text-align: center;">보 기</button>
<input type="hidden" id="reqStory">
</td>
                </tr>
<tr>
                    <td>업종</td>
                    <td id="bizTp"></td>
                </tr>
<tr>
                    <td>이메일</td>
                    <td id="email"></td>
                </tr>
<tr>
                    <td>영업시간</td>
                    <td id="bizHour"></td>
                </tr>

<!-- data Area-->

                </tbody>
            </table>
        </div>
    </div>
</div>
