<!-- views/partials/head.ejs -->
<head>
  <meta charset="UTF-8">
  <title>Zinus Dashboard</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
  <link rel="shortcut icon" href="/public/img/icon.ico"/>
  <!-- 7/11 test cdn -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!--global styles-->
  <link type="text/css" rel="stylesheet" href="/public/css/components.css" />
  <link type="text/css" rel="stylesheet" href="/public/css/custom.css" />
  <!-- end of global styles-->
  <!--Plugin styles-->
  <link type="text/css" rel="stylesheet" href="/public/vendors/toastr/css/toastr.min.css" />
  <link type="text/css" rel="stylesheet" href="/public/vendors/modal/css/component.css"/>
  <link type="text/css" rel="stylesheet" href="/public/vendors/select2/css/core.css">
  <link type="text/css" rel="stylesheet" href="/public/vendors/bootstrap-toggle/css/bootstrap-toggle.min.css">
  <!--End of plugin styles-->
  <!--Page level styles-->
  <link type="text/css" rel="stylesheet" href="/public/vendors/daterangepicker/css/daterangepicker.css" />
  <link type="text/css" rel="stylesheet" href="/public/vendors/datepicker/css/bootstrap-datepicker.min.css" />
  <link type="text/css" rel="stylesheet" href="/public/vendors/clockpicker/css/jquery-clockpicker.css" />
  <link type="text/css" rel="stylesheet" href="/public/css/my_skin.css" />
  <link type="text/css" rel="stylesheet" href="/public/css/ts_style.css" />
  <link type="text/css" rel="stylesheet" href="/public/css/modals.css" />
</head>
