
<!-- Modal -->
<div class="modal modal-center fade" id="businessModal" tabindex="-1" role="dialog"
     aria-hidden="true">
    <form>
        <div class="modal-dialog modal-80size modal-center" role="document">
            <div class="modal-content modal-80size">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="padding: 15px;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="">
                        <img src="http://placehold.it/800x600" id="biz_cert" alt="">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal modal-center fade" id="storyModal" tabindex="-1" role="dialog"
aria-hidden="true">
<form>
<div class="modal-dialog modal-80size modal-center" role="document">
<div class="modal-content modal-80size">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="padding: 15px;">
      <span aria-hidden="true">&times;</span>
    </button>
    <div>
                        <table id="storyModal_table" class="table table-bordered table-striped">
                            <colgroup>
                                <col width="12.5%">
                                <col width="12.5%">
                                <col width="12.5%">
                                <col width="12.5%">
                                <col width="50%">
                            </colgroup>
                            <thead>
                                <th>신청일시</th>
                                <th>신청자</th>
                                <th>곡제목</th>
                                <th>가수</th>
                                <th>신청사연</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                            </tbody>
                        </table>

    </div>
                </div>
</div>
</div>
</form>
</div>
<!-- /Modal -->
