<!-- .navbar -->
<nav class="navbar navbar-static-top">
    <div class="container-fluid">
        <a class="navbar-brand text-xs-center" href="index.php">
            <h3>
                <img src="public/img/logo_square.png" class="admin_img2 img-thumbnail" alt="logo">
            </h3>
        </a>
        <div class="menu">
            <span class="toggle-left" id="menu-toggle">
                <i class="fa fa-bars"></i>
            </span>
        </div>
        <div class="topnav dropdown-menu-right float-xs-right">
            <div class="btn-group">
                <div class="notifications messages no-bg">
                    <a class="btn btn-sm" data-toggle="dropdown" id="notifications_section"> <i
                            class="fa fa-bell-o"></i>
                        <span class="tag tag-pill tag-danger notifications_tag_top">0</span>
                    </a>
                    <div class="dropdown-menu drop_box_align" role="menu" id="notifications_dropdown">
                        <div class="popover-title">No Alarms!!</div>
                    </div>
                </div>
            </div>
            <div class="btn-group">
                <div class="user-settings no-bg">
                    <button type="button" class="btn no-bg micheal_btn" data-toggle="dropdown">
                        <img src="public/img/admin.jpg" class="admin_img2 img-thumbnail rounded-circle avatar-img" alt="avatar"> <strong id="user_name">Admin</strong>
                        <span class="fa fa-sort-down white_bg"></span>
                    </button>
                    <div class="dropdown-menu admire_admin">
                        <a class="dropdown-item" href="index.php"><i class="fa fa-sign-out"></i>
                            Log Out</a>
                    </div>
                </div>
            </div>
        </div>
<div class="collapse navbar-toggleable-sm col-xl-6 col-lg-6 hidden-md-down float-xl-right  top_menu" id="nav-content">
            <h3 class="top-title">Zinus WMS Dashboard</h3>
        </div>
    </div>
    <!-- /.container-fluid -->
</nav>
<!-- /.navbar -->
